.clearfix {
    zoom:1;
    &:before, &:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

img.no-resp{
    width: auto;
    height: auto;
}

.red_box{
    @include border-radius(10px, 10px, 10px, 10px);
    padding: 10px 15px;
    color:#fff;
    background: #ce1a31;
    font-size:0.9em;
    font-family:toyota_displaybold;

    @include breakpoint(tablet){
        padding: 15px;
    }
}
.gray_box{
    @include border-radius(10px, 10px, 10px, 10px);
    padding: 20px;
    margin:10px 0;
    background: #e9e9e9;
    overflow:auto;

    @include breakpoint(tablet){
        padding: 30px;
    }
}

.blue_box{
    @extend .gray_box;
    background: #3a4146;
    padding: 20px;
    color: #ededed;
    font-size: 0.8em;

    h2{
        font-family:toyota_displayregular;
        color: #ededed;
    }

    table{
        width: 100%;
    }
}

.white_box{
    @extend .gray_box;
    background: #fff;
    padding:20px;
    color:#2f262f;
    font-size:0.8em;

    p{
        font-family:toyota_displaybold;
    }
}

.btn{
    margin-top: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    background: #868286;
    color: #fff;
    font-family: 'toyota_displaybold', sans-serif;
    word-spacing:3px;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    @include border-radius();
    text-align: center;

    @include breakpoint(tablet){
        width: auto;
        display: inline-block;
        text-align: left;
        padding: 15px 35px;
    }

    &:hover{
        background: #231c23;
    }
}

.btn-big{
    padding: 15px 35px;
}

.btn-purple {
    width:100%;
    background:#2f262f;
    font-size:1.1em;
    text-align: center;
    margin-top:5px;
}

.btn-purple-2 {
    width:100%;
    background:#2f262f;
    font-size:1.1em;
    text-align: center;
    margin:0;
    padding:11px 10px;
    text-transform:capitalize;
    word-spacing:0px;
    @include border-radius(0, 0, 0, 0);
    @include breakpoint(desktop){
        padding:9px 10px;
    }
}

span.label{
    @include border-radius();
    font-size: 0.8em;
    color: #fff;
    padding: 0px 4px;
    margin-right: 5px;
    text-transform: uppercase;
}

span.label.red{
    background: #ed0000;
}

span.label.gray{
    background: #6b6b6b;
}

span.label.white{
    background: #fff;
    color: #000;
}

span.label.black{
    background: #000;
}

span.label.blue{
    background: #4182c4;
}

span.label.after{
    margin-right: 0;
    margin-left: 10px;
}