.product_content {
	h1:first-of-type {
		padding:0 !important;
	}
}

.product_title {
	width:auto;
	margin:0 0 5px 0;	  
	@include breakpoint(tablet){
		float:left;
		width:496px;
	}
	@include breakpoint(tablet-ls){
		float:left;
		width:651px;
	}
	@include breakpoint(desktop){
		float:left;
		width:768px;
	}
	.product_name {
		max-width:390px;
		h1 {
			padding:0 !important;
		}  
		@include breakpoint(tablet){
			float:left;
		}
		@include breakpoint(desktop){
			max-width:518px;
		}
	}
	.product_price, .toggles {  
		text-align: center;
		@include breakpoint(tablet){
			float:right;
			width:auto;
			text-align:left;
		}
	}
}
.toggles {  
	span {
		width:29px;
		height:29px;
		float:left;
		overflow: hidden;
		cursor:pointer;
		img {
			width:29px;
		}
	}
	span:first-of-type{
		margin:0 5px;
	}
}
.product {
	clear:both;
	p {
		padding:20px 0;
		line-height:25px;
	}
	.car_overview {
		width:100%;
		@include breakpoint(desktop){
			width:416px;
			float:left;
		}
	}
	.car_details {
		width:100%;
		@include breakpoint(desktop){
			width:246px;
			float:right;
		}
		p{
			padding:0;
		}
		img {
			width:32px;
			margin-right:10px;
			vertical-align: middle;
		}
		.back_button {
			margin:10px 0;
			padding:10px 0;
			text-align:center;
			a {
				color:#495258;
				display:block;
			}
		}
	}
}

.model_gallery {
	margin-top:30px;
	a {
		width:138px !important;
		height:138px !important;
		margin:0 !important;
		img {
			margin:0;
			padding:0;
		}
	}
}

.upgrade_title {
	margin:20px 0 0 0;
}

.upgrade {
	a {
		display:block;
	}
	h2 {
		margin-bottom:0;
	}
	p {
		color:#000;
		padding:0;
	}
}

.hide {
	display:none;
}