/*
Theme name: Toyota
*/

/* ========================= INIT ========================= */

@import "reset",
		"mixins",
		"extends",
		"product",
		"splash"
		;


/* ========================= GRID ========================= */

.container{
	@extend .clearfix;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
	width: 320px;

	@include breakpoint(mobile-ls){
		width: 90%;
	}

	@include breakpoint(tablet){
		width: 730px;
	}

	@include breakpoint(tablet-ls){
		width: 958px;
	}

	@include breakpoint(desktop){
		width: 1130px;
	}
}


/* ========================= TYPOGRAPHY ========================= */

@font-face {
    font-family: 'toyota_displaybold';
    src: url('fonts/toyotadisplay_0-webfont.eot');
    src: url('fonts/toyotadisplay_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/toyotadisplay_0-webfont.woff') format('woff'),
         url('fonts/toyotadisplay_0-webfont.ttf') format('truetype'),
         url('fonts/toyotadisplay_0-webfont.svg#toyota_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'toyota_displayregular';
    src: url('fonts/toyotadisplay_rg-webfont.eot');
    src: url('fonts/toyotadisplay_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/toyotadisplay_rg-webfont.woff') format('woff'),
         url('fonts/toyotadisplay_rg-webfont.ttf') format('truetype'),
         url('fonts/toyotadisplay_rg-webfont.svg#toyota_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'toyota_textbold';
    src: url('fonts/ToyotaText-Bold.eot');
    src: url('fonts/ToyotaText-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/ToyotaText-Bold.woff') format('woff'),
         url('fonts/ToyotaText-Bold.ttf') format('truetype'),
         url('fonts/ToyotaText-Bold.svg#toyota_textbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'toyota_textbolditalic';
    src: url('fonts/ToyotaText-BoldItalic.eot');
    src: url('fonts/ToyotaText-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/ToyotaText-BoldItalic.woff') format('woff'),
         url('fonts/ToyotaText-BoldItalic.ttf') format('truetype'),
         url('fonts/ToyotaText-BoldItalic.svg#toyota_textbolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'toyota_textitalic';
    src: url('fonts/ToyotaText-Italic.eot');
    src: url('fonts/ToyotaText-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/ToyotaText-Italic.woff') format('woff'),
         url('fonts/ToyotaText-Italic.ttf') format('truetype'),
         url('fonts/ToyotaText-Italic.svg#toyota_textitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'toyota_textregular';
    src: url('fonts/ToyotaText-Regular.eot');
    src: url('fonts/ToyotaText-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/ToyotaText-Regular.woff') format('woff'),
         url('fonts/ToyotaText-Regular.ttf') format('truetype'),
         url('fonts/ToyotaText-Regular.svg#toyota_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body{
	font-size: 100%;
	line-height: 100%;
}

body{
	font-family: 'toyota_textregular', sans-serif;
	font-size: 0.9em;
}

a{
	text-decoration: none;
	@include transition(all, 0.2s, ease-in-out);

	&:hover{
		
	}
}

strong{
	font-family: 'toyota_displayregular', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'toyota_displaybold', sans-serif;
	//font-weight: 700;
	margin-bottom: 10px;
}

h1{
	color: #231c23;
	font-size: 1.3em;
	line-height: 1.2em;

	@include breakpoint(tablet){
		font-size: 1.4em;
		line-height: 1.2em;
	}	

	@include breakpoint(desktop){
		font-size: 1.5em;
		line-height: 1.4em;
	}

	span {
		font-family: 'toyota_displayregular', sans-serif;
	}
}

h2{
	color: #b50023;
	font-size: 1.2em;
	line-height: 1.1em;

	@include breakpoint(tablet){
		font-size: 1.3em;
		line-height: 1.1em;
	}	

	@include breakpoint(desktop){
		font-size: 1.3em;
		line-height: 1.1em;
	}
}

.red{
	color: #b50023;
}

h3{
	font-size: 1.1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.2em;
		line-height: 1em;
	}	

	@include breakpoint(desktop){
		font-size: 1.3em;
		line-height: 1.2em;
	}
}

h4{
	font-size: 1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.1em;
		line-height: 1em;
	}	

	@include breakpoint(desktop){
		font-size: 1.2em;
		line-height: 1.1em;
	}
}

h5{
	font-size: 1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.3em;
		line-height: 1.2em;
	}	

	@include breakpoint(desktop){
		font-size: 1.1em;
		line-height: 1em;
	}
}

h6{
	font-size: 1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.3em;
		line-height: 1.2em;
	}	

	@include breakpoint(desktop){
		font-size: 1em;
		line-height: 1em;
	}
}

p{
	margin-bottom: 15px;

	&:last-of-type{
		margin-bottom: 0;
	}
}

/* ========================= GLOBAL ========================= */

*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	min-height: 100%;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

.topbar{
	font-size: 0.8em;

	.container{
		position: relative;
	}

	img.site-logo{
		position: absolute;
		z-index: 999;
	}
}

ul.topnav{
	font-size: 0.8em;
	list-style: none;
	margin: 0;
	padding: 0 0 10px 170px;
	@include breakpoint(mobile-ls){
		float: left;
		padding: 10px 0;
		position:relative;
		left:190px;
	}
	@include breakpoint(tablet-ls){
		float:right;
		position:normal;
		left:0;
	}
	li{
		display: block;
		@include opacity(80);
		@include breakpoint(mobile-ls){
			float:left;
		}	
		a, p{
			@include breakpoint(mobile-ls){
				display: block;
				float: left;
				padding: 10px 20px 8px 40px;
				margin-right: 1px;
				background-color: #e9e9e9;
				color: #94a9b5;
				font-family: 'toyota_textbold', sans-serif;
			}
			font-family: 'toyota_displaybold', sans-serif;
			font-size:1em;
			color:#fff;
		}
	}
	li.current-menu-item{
		@include opacity(99);
	}
	li.login{
		a{
			@include breakpoint(mobile-ls){
				background: url(images/login-icon.png) 15px center no-repeat #495258;
			}
		}
	}
	li.welcome{
		p{
			padding-left: 20px !important;

			@include breakpoint(mobile-ls){
				background: #495258;
			}
		}
	}
	li.register{
		a{
			@include breakpoint(mobile-ls){
				background: url(images/register-icon.png) 15px center no-repeat #495258;
			}
		}
	}

	li:first-of-type{
		a, p{
			@include border-radius(10px, 0, 0, 10px);
		}
	}
	li:last-of-type{
		a{
			margin-right: 0;
			@include border-radius(0, 10px, 10px, 0);
		}
	}
}

/* ========================= HEADER ========================= */

.header{
	position: relative;

	.header-img{
		display: none;
		@include breakpoint(tablet){
			display: block;
		}
	}

	.header-img-mbl{
		@include breakpoint(tablet){
			display: none;
		}
	}

	.navbar{
		width: 100%;
		background: url(images/nav_bg.png);

		@include breakpoint(tablet){
			position: absolute;
			z-index: 899;
			top: 0;
			left: 0;
		}

		.sitenav{

			ul{
				list-style: none;
				margin: 0;
				padding: 10px 0 10px 170px;

				@include breakpoint(mobile-ls){
					padding: 0 0 0 170px;
				}

				li{
					display: block;

					
					@include breakpoint(mobile-ls){
						float: left;
					}

					a{
						@include opacity(80);
						color: #fff;
						font-size: 1em;

						@include breakpoint(mobile-ls){
							display: block;
							padding: 20px;
						}

						&:hover{
							@include opacity(99);
							background: #383f44;
						}
					}
				}

				li.current-menu-item{

					a{
						@include opacity(99);
						//font-weight: 700;
						color: #fff;
						background: #383f44;
						font-family: 'toyota_displaybold', sans-serif;
					}
				}
			}
		}	
	}
}

/* ========================= MAIN CONTENT ========================= */

.main{
	padding: 40px 0px;

	.content{

		h1 {
			padding-bottom:20px;
		}

		.column_half{
			@include breakpoint(tablet){
				width: 49%;
				float: left;
				padding-right: 20px;
				border-right: 2px solid #fff;
			}
		}

		.column_half_last{
			margin-top: 20px;

			@include breakpoint(tablet){
				width: 49%;
				float: right;
				margin-top: 0;
			}
		}

		.column_two_third{
			margin-bottom: 20px;
			@include breakpoint(tablet){
				width: 68%;
				float: left;
				margin: 0;
			}
		}

		.column_one_third{
			@include breakpoint(tablet){
				width: 28%;
				float: right;
			}
		}

		.content-block{
			margin-bottom: 20px;
			&:last-of-type{
				margin-bottom: 0;
			}
			.block {
				padding:15px 0;
				p {
					width:200px;
					clear:both;
					padding:5px 0;
				}
				span:first-of-type {
					float:left;
					font-family:toyota_textbold;
				}
				span:last-of-type{
					float:right;
					text-align:left;
					width:120px;
				}
			}

			.registration {
				p {
					width:100% !important;
				}
				span:first-of-type {
					padding:25px 0;
				}
				span:last-of-type {
					width:70% !important;
					input {
						float:right;
					}
				}
			}
			input {
				@include border-radius(5px, 5px, 5px, 5px);
				width:100%;
				border:0;
				padding:15px;
				margin:10px 0;
				font-size:1.1em;
			}
			input:disabled {
				color:#2f262f;
			}
			select {
				-webkit-appearance:none;
				@include border-radius(5px, 5px, 5px, 5px);
				width:100%;
				border:0;
				padding:15px;
				margin:10px 0;
				font-size:1.1em;
				color:#aba9a9;	
				outline:0;
				background:url(images/select-dropdown.png) right 16px center no-repeat, #fff;
			}			
			.datepicker {
				background:url(images/calendar.png) right 12px center no-repeat, #fff;
			}
			#total_amount, #dealer_total_amount {
				font-family:toyota_textbold;
			}
		}
	}
}

/* ========================= FOOTER ========================= */

.footer{
	@extend .clearfix;
	background: #231c23;
	color: #fff;
	padding: 40px 0;

	.container{
		padding: 0 10px;
	}

	a{
		color: #fff;
		font-size: 0.9em;
	}

	ul.footer-nav{
		list-style: none;
		margin: 0;
		padding: 0;
		width: 47%;
		float: left;

		@include breakpoint(tablet){
			width: 20%;
		}

		li{
			margin: 10px 0;
			
			a{
				color: #7e8a96;

				&:hover{
					color: #fff;
				}
			}
		}
	}
}

/* ========================= CONTENT ELEMENTS ========================= */

ul.car-list{

	li{
		display: block;
		width: 100%;

		@include breakpoint(mobile-ls){
			width: 48%;
			float: left;
			margin-right: 4%;
		
			&:nth-child(2n){
				margin-right: 0;
			}

			&:nth-child(2n+1){
				clear: both;
			}
		}

		@include breakpoint(tablet){
			width: 170px;
			margin-right: 10px;

			&:nth-child(2n){
				margin-right: 10px;
			}

			&:nth-child(2n+1){
				clear: none;
			}

			&:nth-child(4n){
				margin-right: 0;
			}

			&:nth-child(4n+1){
				clear: both;
			}
		}

		@include breakpoint(tablet-ls){
			width: 227px;
		}

		@include breakpoint(desktop){
			width: 270px;
		}
	}
}

.grid-block {
	position: relative;

	h4{
		position: relative;
		z-index: 799;
		display: block;
		text-align: center;
		font-family: 'toyota_displaybold', sans-serif;
		background: #231c23;
		color: #fff;
		padding: 15px;
		font-size: 1.1em;
		@include transition( 0.2s, ease-in-out, all);
	}

	h4:after{
		bottom: 100%; 
		left: 50%;
		border: solid transparent; content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(237, 237, 239, 1);
		border-bottom-color: #ededef;
		border-width: 10px;
		margin-left: -10px;
		@include transition( 0.2s, ease-in-out, all);
	}

	h4.hover{
		background: #d74700;
	}

	.caption {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background: url(images/car-hover.png);
		width: 100%;
		height: 100%;
		z-index: 699;

		.inner{
			padding: 5px;

			@include breakpoint(tablet-ls){
				padding: 10px;
			}

			ul.car-specs{

				li{
					display: block;
					float: none;
					width: 100%;
					margin: 5px 0;
					font-size: 0.7em;

					@include breakpoint(tablet){
						margin: 0;
					}

					@include breakpoint(tablet-ls){
						font-size: 0.8em;
						margin: 5px 0;
					}

					@include breakpoint(desktop){
						font-size: 1em;
						margin: 10px 0;
					}
				}
			}
		}
	}

	.thumb{
		padding: 10px;
		background: #ededef;
	}

	&.hover{

		h4{
			background-color: #d74700;
			@include transition(0.2s, ease-in-out, all);
		}

		h4:after{
			bottom: 100%; 
			left: 50%;
			border: solid transparent; content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(215, 71, 0, 0);
			border-bottom-color: #d74700;
			border-width: 10px;
			margin-left: -10px;
		}
	}
}

#map-canvas {
	position: relative;
	z-index: 499;
	width: 100%;
	height: 320px;

	@include breakpoint(tablet){
		height: 480px;
	}

	img{
		width: auto;
		max-width: none;
		height: auto;
		display: auto;
	}
}

table.contact_table{

	tr{
		border-bottom: 1px solid #4e5459;

		&:last-of-type{
			border-bottom: 0;
		}
		td:first-of-type {
			font-family:toyota_textbold;
		}
		td{
			padding: 5px 0;
		}
	}
}

p.border-top{
	border-top: 1px solid #4e5459;
	padding: 10px 0 0;
}

.models {
	width:100%;
	.overlay {
		@include opacity(80);
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:#fff;
		z-index:999;
		display: none;
	}
	.model-thumb{
		width:200px;
		height:177px;
		margin:10px 10px 10px 0;
		overflow:hidden;
		float:left;
		position:relative;
		@include breakpoint(desktop){
			width:184px;
			height:163px;
		}
		img {
			height:140px;
			overflow:hidden;
			@include breakpoint(desktop){
				height:129px;
			}
		}
		.start_price {
			background:#ce1a31;
			font-family: toyota_textbold;
			font-size:0.8em;
			position:absolute;
			top:10px;
			padding:5px 10px;			
			a {
				color:#fff;
				display:block;
			}
		}
		.sale_price {
			@include opacity(85);
			background:#2f262f;
			font-family: toyota_textbold;
			font-size:0.8em;
			text-decoration:line-through;
			position:absolute;
			top:34px;
			padding:5px 10px;			
			a {
				color:#fff;
				display:block;
			}
		}
	}
	@include breakpoint(mobile){
		.model-thumb:nth-of-type(2n+0){
			margin-right:0;
		}
		.model-thumb:nth-of-type(3n+0){
			margin-right:10px;
		}
	}
	@include breakpoint(mobile-ls){
		.model-thumb:nth-of-type(2n+0){
			margin-right:10px;
		}
		.model-thumb:nth-of-type(3n+0){
			margin-right:0;
		}
	}
	@include breakpoint(tablet){
		.model-thumb:nth-of-type(2n+0){
			margin-right:0;
		}
		.model-thumb:nth-of-type(3n+0){
			margin-right:10px;
		}
	}
	@include breakpoint(tablet-ls){
		.model-thumb:nth-of-type(2n+0){
			margin-right:10px;
		}
		.model-thumb:nth-of-type(3n+0){
			margin-right:0;
		}
	}
	@include breakpoint(desktop){
		.model-thumb:nth-of-type(2n+0){
			margin-right:10px;
		}
		.model-thumb:nth-of-type(3n+0){
			margin-right:10px;
		}
		.model-thumb:nth-of-type(4n+0){
			margin-right:0;
		}
	}
}

.specific {
	.btn-purple-2 {
		font-size:0.85em;
	}
}

.promotion {
	@include breakpoint(tablet){
		width:379px;
		height:171px;
	}
	width:100%;
	float:left;
	margin:10px 0;
	img {
		width:100%;
	}
}
.promotion:nth-of-type(even) {
	@include breakpoint(desktop){
		margin:10px 0 10px 5px;
	}
}
.promotion:nth-of-type(odd) {
	@include breakpoint(desktop){
		margin:10px 5px 10px 0;
	}
}

.price-slider {
	width:95%;
	margin:15px auto;
	p {
		margin-top:15px;
		text-align: center;
		font-size:1.1em;
		word-spacing:2px;
		span {
			font-family:toyota_textbold;
		}
	}
	.ui-slider-horizontal {
		background:url(images/price-slider-bg.gif) repeat-x;
		border:0;
	}
	.ui-slider-horizontal .ui-slider-handle{
		width:10px;
		height:20px;
		top:-0.4em;
	}
	.ui-slider-horizontal .ui-slider-range{
		background:transparent;
		height:10px;
	}
}

#company {
	display:block;
}

#errors {
	margin-top:20px;
	display:none;
	p {
		display:none;
	}
}
.message {
	margin-top:20px;
}

#consumer {
	display:none;
}

#register_submit, #login_submit, #reservation_submit {
	border:0;
	outline:0;
	color:#fff;
	cursor:pointer;
	margin-top:20px;
    &:hover{
        background: #231c23;
    }
}

.dealer-price {
	display:none;
}
.to-toggle{
	cursor:pointer;
}

.cookies {
	width:100%;
	padding:20px 0;
	margin-top:-54px;
	text-align:center;
	color:#fff;
	background-color:rgba(0,0,0,0.5);
	a {
		color:#b50023;
	}
}

.cookieclose {
	background:url(images/close.png) right no-repeat;
	padding-right:20px;
	margin-left:30px;
	cursor:pointer;
}
