#splash {
  background-image: url(images/bg_splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85%;
  width: 100%; }

#choose {
  background-image: url(../images/nav_bg.png);
  border-radius: 10px;
  height: auto;
  padding: 30px;
  position: absolute;
  top: 40%;
  width: 235px; }

  @media(max-width: 480px) {
  	#choose {
  		position: static;
  		margin-left: auto;
  		margin-right: auto;
  		margin-top: 100px;
  	}
  }

#choose h1 {
  color: #ffffff;
  font-family: 'toyota_textregular', sans-serif;
  padding-bottom: 10px;
  text-align: center; }

#choose ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#choose li a:link, #choose li a:visited, #choose li a:active, #choose li a:hover {
  background-color: #c11f34;
  border-radius: 10px;
  color: #ffffff;
  display: block;
  font-family: 'toyota_textbold', sans-serif;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none; }

@media (max-width: 480px) {
	li.welcome p {
		padding-left: 0px !important;
	}
}