/*
Theme name: Toyota
*/
/* ========================= INIT ========================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix, .container, .footer {
  zoom: 1; }
  .clearfix:before, .container:before, .footer:before, .clearfix:after, .container:after, .footer:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, .container:after, .footer:after {
    clear: both; }

img.no-resp {
  width: auto;
  height: auto; }

.red_box {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 15px;
  color: #fff;
  background: #ce1a31;
  font-size: 0.9em;
  font-family: toyota_displaybold; }
  @media (min-width: 768px) {
    .red_box {
      padding: 15px; } }
  .old-ie .red_box {
    padding: 15px; }

.gray_box, .blue_box, .white_box {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  margin: 10px 0;
  background: #e9e9e9;
  overflow: auto; }
  @media (min-width: 768px) {
    .gray_box, .blue_box, .white_box {
      padding: 30px; } }
  .old-ie .gray_box, .old-ie .blue_box, .old-ie .white_box {
    padding: 30px; }

.blue_box {
  background: #3a4146;
  padding: 20px;
  color: #ededed;
  font-size: 0.8em; }
  .blue_box h2 {
    font-family: toyota_displayregular;
    color: #ededed; }
  .blue_box table {
    width: 100%; }

.white_box {
  background: #fff;
  padding: 20px;
  color: #2f262f;
  font-size: 0.8em; }
  .white_box p {
    font-family: toyota_displaybold; }

.btn {
  margin-top: 15px;
  display: block;
  width: 100%;
  padding: 10px;
  background: #868286;
  color: #fff;
  font-family: 'toyota_displaybold', sans-serif;
  word-spacing: 3px;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  text-align: center; }
  @media (min-width: 768px) {
    .btn {
      width: auto;
      display: inline-block;
      text-align: left;
      padding: 15px 35px; } }
  .old-ie .btn {
    width: auto;
    display: inline-block;
    text-align: left;
    padding: 15px 35px; }
  .btn:hover {
    background: #231c23; }

.btn-big {
  padding: 15px 35px; }

.btn-purple {
  width: 100%;
  background: #2f262f;
  font-size: 1.1em;
  text-align: center;
  margin-top: 5px; }

.btn-purple-2 {
  width: 100%;
  background: #2f262f;
  font-size: 1.1em;
  text-align: center;
  margin: 0;
  padding: 11px 10px;
  text-transform: capitalize;
  word-spacing: 0px;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-radius: 0 0 0 0; }
  @media (min-width: 1280px) {
    .btn-purple-2 {
      padding: 9px 10px; } }
  .old-ie .btn-purple-2 {
    padding: 9px 10px; }

span.label {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  font-size: 0.8em;
  color: #fff;
  padding: 0px 4px;
  margin-right: 5px;
  text-transform: uppercase; }

span.label.red {
  background: #ed0000; }

span.label.gray {
  background: #6b6b6b; }

span.label.white {
  background: #fff;
  color: #000; }

span.label.black {
  background: #000; }

span.label.blue {
  background: #4182c4; }

span.label.after {
  margin-right: 0;
  margin-left: 10px; }

.product_content h1:first-of-type {
  padding: 0 !important; }

.product_title {
  width: auto;
  margin: 0 0 5px 0; }
  @media (min-width: 768px) {
    .product_title {
      float: left;
      width: 496px; } }
  .old-ie .product_title {
    float: left;
    width: 496px; }
  @media (min-width: 1024px) {
    .product_title {
      float: left;
      width: 651px; } }
  .old-ie .product_title {
    float: left;
    width: 651px; }
  @media (min-width: 1280px) {
    .product_title {
      float: left;
      width: 768px; } }
  .old-ie .product_title {
    float: left;
    width: 768px; }
  .product_title .product_name {
    max-width: 390px; }
    .product_title .product_name h1 {
      padding: 0 !important; }
    @media (min-width: 768px) {
      .product_title .product_name {
        float: left; } }
    .old-ie .product_title .product_name {
      float: left; }
    @media (min-width: 1280px) {
      .product_title .product_name {
        max-width: 518px; } }
    .old-ie .product_title .product_name {
      max-width: 518px; }
  .product_title .product_price, .product_title .toggles {
    text-align: center; }
    @media (min-width: 768px) {
      .product_title .product_price, .product_title .toggles {
        float: right;
        width: auto;
        text-align: left; } }
    .old-ie .product_title .product_price, .old-ie .product_title .toggles {
      float: right;
      width: auto;
      text-align: left; }

.toggles span {
  width: 29px;
  height: 29px;
  float: left;
  overflow: hidden;
  cursor: pointer; }
  .toggles span img {
    width: 29px; }
.toggles span:first-of-type {
  margin: 0 5px; }

.product {
  clear: both; }
  .product p {
    padding: 20px 0;
    line-height: 25px; }
  .product .car_overview {
    width: 100%; }
    @media (min-width: 1280px) {
      .product .car_overview {
        width: 416px;
        float: left; } }
    .old-ie .product .car_overview {
      width: 416px;
      float: left; }
  .product .car_details {
    width: 100%; }
    @media (min-width: 1280px) {
      .product .car_details {
        width: 246px;
        float: right; } }
    .old-ie .product .car_details {
      width: 246px;
      float: right; }
    .product .car_details p {
      padding: 0; }
    .product .car_details img {
      width: 32px;
      margin-right: 10px;
      vertical-align: middle; }
    .product .car_details .back_button {
      margin: 10px 0;
      padding: 10px 0;
      text-align: center; }
      .product .car_details .back_button a {
        color: #495258;
        display: block; }

.model_gallery {
  margin-top: 30px; }
  .model_gallery a {
    width: 138px !important;
    height: 138px !important;
    margin: 0 !important; }
    .model_gallery a img {
      margin: 0;
      padding: 0; }

.upgrade_title {
  margin: 20px 0 0 0; }

.upgrade a {
  display: block; }
.upgrade h2 {
  margin-bottom: 0; }
.upgrade p {
  color: #000;
  padding: 0; }

.hide {
  display: none; }

#splash {
  background-image: url(images/bg_splash.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 100%;
  width: 100%; }

#choose {
  background-image: url(../images/nav_bg.png);
  border-radius: 10px;
  height: auto;
  padding: 30px;
  position: absolute;
  top: 40%;
  width: 235px; }

#choose h1 {
  color: #ffffff;
  font-family: 'toyota_textregular', sans-serif;
  padding-bottom: 10px;
  text-align: center; }

#choose ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#choose li a:link, #choose li a:visited, #choose li a:active, #choose li a:hover {
  background-color: #c11f34;
  border-radius: 10px;
  color: #ffffff;
  display: block;
  font-family: 'toyota_textbold', sans-serif;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none; }

/* ========================= GRID ========================= */
.container {
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  width: 320px; }
  @media (min-width: 480px) {
    .container {
      width: 90%; } }
  .old-ie .container {
    width: 90%; }
  @media (min-width: 768px) {
    .container {
      width: 730px; } }
  .old-ie .container {
    width: 730px; }
  @media (min-width: 1024px) {
    .container {
      width: 958px; } }
  .old-ie .container {
    width: 958px; }
  @media (min-width: 1280px) {
    .container {
      width: 1130px; } }
  .old-ie .container {
    width: 1130px; }

/* ========================= TYPOGRAPHY ========================= */
@font-face {
  font-family: 'toyota_displaybold';
  src: url("fonts/toyotadisplay_0-webfont.eot");
  src: url("fonts/toyotadisplay_0-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/toyotadisplay_0-webfont.woff") format("woff"), url("fonts/toyotadisplay_0-webfont.ttf") format("truetype"), url("fonts/toyotadisplay_0-webfont.svg#toyota_displaybold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'toyota_displayregular';
  src: url("fonts/toyotadisplay_rg-webfont.eot");
  src: url("fonts/toyotadisplay_rg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/toyotadisplay_rg-webfont.woff") format("woff"), url("fonts/toyotadisplay_rg-webfont.ttf") format("truetype"), url("fonts/toyotadisplay_rg-webfont.svg#toyota_displayregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'toyota_textbold';
  src: url("fonts/ToyotaText-Bold.eot");
  src: url("fonts/ToyotaText-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/ToyotaText-Bold.woff") format("woff"), url("fonts/ToyotaText-Bold.ttf") format("truetype"), url("fonts/ToyotaText-Bold.svg#toyota_textbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'toyota_textbolditalic';
  src: url("fonts/ToyotaText-BoldItalic.eot");
  src: url("fonts/ToyotaText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/ToyotaText-BoldItalic.woff") format("woff"), url("fonts/ToyotaText-BoldItalic.ttf") format("truetype"), url("fonts/ToyotaText-BoldItalic.svg#toyota_textbolditalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'toyota_textitalic';
  src: url("fonts/ToyotaText-Italic.eot");
  src: url("fonts/ToyotaText-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/ToyotaText-Italic.woff") format("woff"), url("fonts/ToyotaText-Italic.ttf") format("truetype"), url("fonts/ToyotaText-Italic.svg#toyota_textitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'toyota_textregular';
  src: url("fonts/ToyotaText-Regular.eot");
  src: url("fonts/ToyotaText-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/ToyotaText-Regular.woff") format("woff"), url("fonts/ToyotaText-Regular.ttf") format("truetype"), url("fonts/ToyotaText-Regular.svg#toyota_textregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  font-size: 100%;
  line-height: 100%; }

body {
  font-family: 'toyota_textregular', sans-serif;
  font-size: 0.9em; }

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

strong {
  font-family: 'toyota_displayregular', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'toyota_displaybold', sans-serif;
  margin-bottom: 10px; }

h1 {
  color: #231c23;
  font-size: 1.3em;
  line-height: 1.2em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 1.4em;
      line-height: 1.2em; } }
  .old-ie h1 {
    font-size: 1.4em;
    line-height: 1.2em; }
  @media (min-width: 1280px) {
    h1 {
      font-size: 1.5em;
      line-height: 1.4em; } }
  .old-ie h1 {
    font-size: 1.5em;
    line-height: 1.4em; }
  h1 span {
    font-family: 'toyota_displayregular', sans-serif; }

h2 {
  color: #b50023;
  font-size: 1.2em;
  line-height: 1.1em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.3em;
      line-height: 1.1em; } }
  .old-ie h2 {
    font-size: 1.3em;
    line-height: 1.1em; }
  @media (min-width: 1280px) {
    h2 {
      font-size: 1.3em;
      line-height: 1.1em; } }
  .old-ie h2 {
    font-size: 1.3em;
    line-height: 1.1em; }

.red {
  color: #b50023; }

h3 {
  font-size: 1.1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.2em;
      line-height: 1em; } }
  .old-ie h3 {
    font-size: 1.2em;
    line-height: 1em; }
  @media (min-width: 1280px) {
    h3 {
      font-size: 1.3em;
      line-height: 1.2em; } }
  .old-ie h3 {
    font-size: 1.3em;
    line-height: 1.2em; }

h4 {
  font-size: 1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.1em;
      line-height: 1em; } }
  .old-ie h4 {
    font-size: 1.1em;
    line-height: 1em; }
  @media (min-width: 1280px) {
    h4 {
      font-size: 1.2em;
      line-height: 1.1em; } }
  .old-ie h4 {
    font-size: 1.2em;
    line-height: 1.1em; }

h5 {
  font-size: 1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h5 {
      font-size: 1.3em;
      line-height: 1.2em; } }
  .old-ie h5 {
    font-size: 1.3em;
    line-height: 1.2em; }
  @media (min-width: 1280px) {
    h5 {
      font-size: 1.1em;
      line-height: 1em; } }
  .old-ie h5 {
    font-size: 1.1em;
    line-height: 1em; }

h6 {
  font-size: 1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h6 {
      font-size: 1.3em;
      line-height: 1.2em; } }
  .old-ie h6 {
    font-size: 1.3em;
    line-height: 1.2em; }
  @media (min-width: 1280px) {
    h6 {
      font-size: 1em;
      line-height: 1em; } }
  .old-ie h6 {
    font-size: 1em;
    line-height: 1em; }

p {
  margin-bottom: 15px; }
  p:last-of-type {
    margin-bottom: 0; }

/* ========================= GLOBAL ========================= */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  min-height: 100%; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

.topbar {
  font-size: 0.8em; }
  .topbar .container {
    position: relative; }
  .topbar img.site-logo {
    position: absolute;
    z-index: 999; }

ul.topnav {
  font-size: 0.8em;
  list-style: none;
  margin: 0;
  padding: 0 0 10px 170px; }
  @media (min-width: 480px) {
    ul.topnav {
      float: left;
      padding: 10px 0;
      position: relative;
      left: 190px; } }
  .old-ie ul.topnav {
    float: left;
    padding: 10px 0;
    position: relative;
    left: 190px; }
  @media (min-width: 1024px) {
    ul.topnav {
      float: right;
      position: normal;
      left: 0; } }
  .old-ie ul.topnav {
    float: right;
    position: normal;
    left: 0; }
  ul.topnav li {
    display: block;
    opacity: .80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha(opacity=$value)";
    -khtml-opacity: .80;
    -moz-opacity: .80; }
    @media (min-width: 480px) {
      ul.topnav li {
        float: left; } }
    .old-ie ul.topnav li {
      float: left; }
    ul.topnav li a, ul.topnav li p {
      font-family: 'toyota_displaybold', sans-serif;
      font-size: 1em;
      color: #fff; }
      @media (min-width: 480px) {
        ul.topnav li a, ul.topnav li p {
          display: block;
          float: left;
          padding: 10px 20px 8px 40px;
          margin-right: 1px;
          background-color: #e9e9e9;
          color: #94a9b5;
          font-family: 'toyota_textbold', sans-serif; } }
      .old-ie ul.topnav li a, .old-ie ul.topnav li p {
        display: block;
        float: left;
        padding: 10px 20px 8px 40px;
        margin-right: 1px;
        background-color: #e9e9e9;
        color: #94a9b5;
        font-family: 'toyota_textbold', sans-serif; }
  ul.topnav li.current-menu-item {
    opacity: .99;
    filter: alpha(opacity=99);
    -ms-filter: "alpha(opacity=$value)";
    -khtml-opacity: .99;
    -moz-opacity: .99; }
  @media (min-width: 480px) {
    ul.topnav li.login a {
      background: url(images/login-icon.png) 15px center no-repeat #495258; } }
  .old-ie ul.topnav li.login a {
    background: url(images/login-icon.png) 15px center no-repeat #495258; }
  ul.topnav li.welcome p {
    padding-left: 20px !important; }
    @media (min-width: 480px) {
      ul.topnav li.welcome p {
        background: #495258; } }
    .old-ie ul.topnav li.welcome p {
      background: #495258; }
  @media (min-width: 480px) {
    ul.topnav li.register a {
      background: url(images/register-icon.png) 15px center no-repeat #495258; } }
  .old-ie ul.topnav li.register a {
    background: url(images/register-icon.png) 15px center no-repeat #495258; }
  ul.topnav li:first-of-type a, ul.topnav li:first-of-type p {
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 10px;
    border-radius: 10px 0 0 10px; }
  ul.topnav li:last-of-type a {
    margin-right: 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 0;
    border-radius: 0 10px 10px 0; }

/* ========================= HEADER ========================= */
.header {
  position: relative; }
  .header .header-img {
    display: none; }
    @media (min-width: 768px) {
      .header .header-img {
        display: block; } }
    .old-ie .header .header-img {
      display: block; }
  @media (min-width: 768px) {
    .header .header-img-mbl {
      display: none; } }
  .old-ie .header .header-img-mbl {
    display: none; }
  .header .navbar {
    width: 100%;
    background: url(images/nav_bg.png); }
    @media (min-width: 768px) {
      .header .navbar {
        position: absolute;
        z-index: 899;
        top: 0;
        left: 0; } }
    .old-ie .header .navbar {
      position: absolute;
      z-index: 899;
      top: 0;
      left: 0; }
    .header .navbar .sitenav ul {
      list-style: none;
      margin: 0;
      padding: 10px 0 10px 170px; }
      @media (min-width: 480px) {
        .header .navbar .sitenav ul {
          padding: 0 0 0 170px; } }
      .old-ie .header .navbar .sitenav ul {
        padding: 0 0 0 170px; }
      .header .navbar .sitenav ul li {
        display: block; }
        @media (min-width: 480px) {
          .header .navbar .sitenav ul li {
            float: left; } }
        .old-ie .header .navbar .sitenav ul li {
          float: left; }
        .header .navbar .sitenav ul li a {
          opacity: .80;
          filter: alpha(opacity=80);
          -ms-filter: "alpha(opacity=$value)";
          -khtml-opacity: .80;
          -moz-opacity: .80;
          color: #fff;
          font-size: 1em; }
          @media (min-width: 480px) {
            .header .navbar .sitenav ul li a {
              display: block;
              padding: 20px; } }
          .old-ie .header .navbar .sitenav ul li a {
            display: block;
            padding: 20px; }
          .header .navbar .sitenav ul li a:hover {
            opacity: .99;
            filter: alpha(opacity=99);
            -ms-filter: "alpha(opacity=$value)";
            -khtml-opacity: .99;
            -moz-opacity: .99;
            background: #383f44; }
      .header .navbar .sitenav ul li.current-menu-item a {
        opacity: .99;
        filter: alpha(opacity=99);
        -ms-filter: "alpha(opacity=$value)";
        -khtml-opacity: .99;
        -moz-opacity: .99;
        color: #fff;
        background: #383f44;
        font-family: 'toyota_displaybold', sans-serif; }

/* ========================= MAIN CONTENT ========================= */
.main {
  padding: 40px 0px; }
  .main .content h1 {
    padding-bottom: 20px; }
  @media (min-width: 768px) {
    .main .content .column_half {
      width: 49%;
      float: left;
      padding-right: 20px;
      border-right: 2px solid #fff; } }
  .old-ie .main .content .column_half {
    width: 49%;
    float: left;
    padding-right: 20px;
    border-right: 2px solid #fff; }
  .main .content .column_half_last {
    margin-top: 20px; }
    @media (min-width: 768px) {
      .main .content .column_half_last {
        width: 49%;
        float: right;
        margin-top: 0; } }
    .old-ie .main .content .column_half_last {
      width: 49%;
      float: right;
      margin-top: 0; }
  .main .content .column_two_third {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .main .content .column_two_third {
        width: 68%;
        float: left;
        margin: 0; } }
    .old-ie .main .content .column_two_third {
      width: 68%;
      float: left;
      margin: 0; }
  @media (min-width: 768px) {
    .main .content .column_one_third {
      width: 28%;
      float: right; } }
  .old-ie .main .content .column_one_third {
    width: 28%;
    float: right; }
  .main .content .content-block {
    margin-bottom: 20px; }
    .main .content .content-block:last-of-type {
      margin-bottom: 0; }
    .main .content .content-block .block {
      padding: 15px 0; }
      .main .content .content-block .block p {
        width: 200px;
        clear: both;
        padding: 5px 0; }
      .main .content .content-block .block span:first-of-type {
        float: left;
        font-family: toyota_textbold; }
      .main .content .content-block .block span:last-of-type {
        float: right;
        text-align: left;
        width: 120px; }
    .main .content .content-block .registration p {
      width: 100% !important; }
    .main .content .content-block .registration span:first-of-type {
      padding: 25px 0; }
    .main .content .content-block .registration span:last-of-type {
      width: 70% !important; }
      .main .content .content-block .registration span:last-of-type input {
        float: right; }
    .main .content .content-block input {
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-radius: 5px 5px 5px 5px;
      width: 100%;
      border: 0;
      padding: 15px;
      margin: 10px 0;
      font-size: 1.1em; }
    .main .content .content-block input:disabled {
      color: #2f262f; }
    .main .content .content-block select {
      -webkit-appearance: none;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-radius: 5px 5px 5px 5px;
      width: 100%;
      border: 0;
      padding: 15px;
      margin: 10px 0;
      font-size: 1.1em;
      color: #aba9a9;
      outline: 0;
      background: url(images/select-dropdown.png) right 16px center no-repeat, white; }
    .main .content .content-block .datepicker {
      background: url(images/calendar.png) right 12px center no-repeat, white; }
    .main .content .content-block #total_amount, .main .content .content-block #dealer_total_amount {
      font-family: toyota_textbold; }

/* ========================= FOOTER ========================= */
.footer {
  background: #231c23;
  color: #fff;
  padding: 40px 0; }
  .footer .container {
    padding: 0 10px; }
  .footer a {
    color: #fff;
    font-size: 0.9em; }
  .footer ul.footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 47%;
    float: left; }
    @media (min-width: 768px) {
      .footer ul.footer-nav {
        width: 20%; } }
    .old-ie .footer ul.footer-nav {
      width: 20%; }
    .footer ul.footer-nav li {
      margin: 10px 0; }
      .footer ul.footer-nav li a {
        color: #7e8a96; }
        .footer ul.footer-nav li a:hover {
          color: #fff; }

/* ========================= CONTENT ELEMENTS ========================= */
ul.car-list li {
  display: block;
  width: 100%; }
  @media (min-width: 480px) {
    ul.car-list li {
      width: 48%;
      float: left;
      margin-right: 4%; }
      ul.car-list li:nth-child(2n) {
        margin-right: 0; }
      ul.car-list li:nth-child(2n+1) {
        clear: both; } }
  .old-ie ul.car-list li {
    width: 48%;
    float: left;
    margin-right: 4%; }
    .old-ie ul.car-list li:nth-child(2n) {
      margin-right: 0; }
    .old-ie ul.car-list li:nth-child(2n+1) {
      clear: both; }
  @media (min-width: 768px) {
    ul.car-list li {
      width: 170px;
      margin-right: 10px; }
      ul.car-list li:nth-child(2n) {
        margin-right: 10px; }
      ul.car-list li:nth-child(2n+1) {
        clear: none; }
      ul.car-list li:nth-child(4n) {
        margin-right: 0; }
      ul.car-list li:nth-child(4n+1) {
        clear: both; } }
  .old-ie ul.car-list li {
    width: 170px;
    margin-right: 10px; }
    .old-ie ul.car-list li:nth-child(2n) {
      margin-right: 10px; }
    .old-ie ul.car-list li:nth-child(2n+1) {
      clear: none; }
    .old-ie ul.car-list li:nth-child(4n) {
      margin-right: 0; }
    .old-ie ul.car-list li:nth-child(4n+1) {
      clear: both; }
  @media (min-width: 1024px) {
    ul.car-list li {
      width: 227px; } }
  .old-ie ul.car-list li {
    width: 227px; }
  @media (min-width: 1280px) {
    ul.car-list li {
      width: 270px; } }
  .old-ie ul.car-list li {
    width: 270px; }

.grid-block {
  position: relative; }
  .grid-block h4 {
    position: relative;
    z-index: 799;
    display: block;
    text-align: center;
    font-family: 'toyota_displaybold', sans-serif;
    background: #231c23;
    color: #fff;
    padding: 15px;
    font-size: 1.1em;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all; }
  .grid-block h4:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #ededef;
    border-bottom-color: #ededef;
    border-width: 10px;
    margin-left: -10px;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all; }
  .grid-block h4.hover {
    background: #d74700; }
  .grid-block .caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: url(images/car-hover.png);
    width: 100%;
    height: 100%;
    z-index: 699; }
    .grid-block .caption .inner {
      padding: 5px; }
      @media (min-width: 1024px) {
        .grid-block .caption .inner {
          padding: 10px; } }
      .old-ie .grid-block .caption .inner {
        padding: 10px; }
      .grid-block .caption .inner ul.car-specs li {
        display: block;
        float: none;
        width: 100%;
        margin: 5px 0;
        font-size: 0.7em; }
        @media (min-width: 768px) {
          .grid-block .caption .inner ul.car-specs li {
            margin: 0; } }
        .old-ie .grid-block .caption .inner ul.car-specs li {
          margin: 0; }
        @media (min-width: 1024px) {
          .grid-block .caption .inner ul.car-specs li {
            font-size: 0.8em;
            margin: 5px 0; } }
        .old-ie .grid-block .caption .inner ul.car-specs li {
          font-size: 0.8em;
          margin: 5px 0; }
        @media (min-width: 1280px) {
          .grid-block .caption .inner ul.car-specs li {
            font-size: 1em;
            margin: 10px 0; } }
        .old-ie .grid-block .caption .inner ul.car-specs li {
          font-size: 1em;
          margin: 10px 0; }
  .grid-block .thumb {
    padding: 10px;
    background: #ededef; }
  .grid-block.hover h4 {
    background-color: #d74700;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all; }
  .grid-block.hover h4:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(215, 71, 0, 0);
    border-bottom-color: #d74700;
    border-width: 10px;
    margin-left: -10px; }

#map-canvas {
  position: relative;
  z-index: 499;
  width: 100%;
  height: 320px; }
  @media (min-width: 768px) {
    #map-canvas {
      height: 480px; } }
  .old-ie #map-canvas {
    height: 480px; }
  #map-canvas img {
    width: auto;
    max-width: none;
    height: auto;
    display: auto; }

table.contact_table tr {
  border-bottom: 1px solid #4e5459; }
  table.contact_table tr:last-of-type {
    border-bottom: 0; }
  table.contact_table tr td:first-of-type {
    font-family: toyota_textbold; }
  table.contact_table tr td {
    padding: 5px 0; }

p.border-top {
  border-top: 1px solid #4e5459;
  padding: 10px 0 0; }

.models {
  width: 100%; }
  .models .overlay {
    opacity: .80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha(opacity=$value)";
    -khtml-opacity: .80;
    -moz-opacity: .80;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
    display: none; }
  .models .model-thumb {
    width: 200px;
    height: 177px;
    margin: 10px 10px 10px 0;
    overflow: hidden;
    float: left;
    position: relative; }
    @media (min-width: 1280px) {
      .models .model-thumb {
        width: 184px;
        height: 163px; } }
    .old-ie .models .model-thumb {
      width: 184px;
      height: 163px; }
    .models .model-thumb img {
      height: 140px;
      overflow: hidden; }
      @media (min-width: 1280px) {
        .models .model-thumb img {
          height: 129px; } }
      .old-ie .models .model-thumb img {
        height: 129px; }
    .models .model-thumb .start_price {
      background: #ce1a31;
      font-family: toyota_textbold;
      font-size: 0.8em;
      position: absolute;
      top: 10px;
      padding: 5px 10px; }
      .models .model-thumb .start_price a {
        color: #fff;
        display: block; }
    .models .model-thumb .sale_price {
      opacity: .85;
      filter: alpha(opacity=85);
      -ms-filter: "alpha(opacity=$value)";
      -khtml-opacity: .85;
      -moz-opacity: .85;
      background: #2f262f;
      font-family: toyota_textbold;
      font-size: 0.8em;
      text-decoration: line-through;
      position: absolute;
      top: 34px;
      padding: 5px 10px; }
      .models .model-thumb .sale_price a {
        color: #fff;
        display: block; }
  @media (min-width: 320px) {
    .models .model-thumb:nth-of-type(2n+0) {
      margin-right: 0; }
    .models .model-thumb:nth-of-type(3n+0) {
      margin-right: 10px; } }
  .old-ie .models .model-thumb:nth-of-type(2n+0) {
    margin-right: 0; }
  .old-ie .models .model-thumb:nth-of-type(3n+0) {
    margin-right: 10px; }
  @media (min-width: 480px) {
    .models .model-thumb:nth-of-type(2n+0) {
      margin-right: 10px; }
    .models .model-thumb:nth-of-type(3n+0) {
      margin-right: 0; } }
  .old-ie .models .model-thumb:nth-of-type(2n+0) {
    margin-right: 10px; }
  .old-ie .models .model-thumb:nth-of-type(3n+0) {
    margin-right: 0; }
  @media (min-width: 768px) {
    .models .model-thumb:nth-of-type(2n+0) {
      margin-right: 0; }
    .models .model-thumb:nth-of-type(3n+0) {
      margin-right: 10px; } }
  .old-ie .models .model-thumb:nth-of-type(2n+0) {
    margin-right: 0; }
  .old-ie .models .model-thumb:nth-of-type(3n+0) {
    margin-right: 10px; }
  @media (min-width: 1024px) {
    .models .model-thumb:nth-of-type(2n+0) {
      margin-right: 10px; }
    .models .model-thumb:nth-of-type(3n+0) {
      margin-right: 0; } }
  .old-ie .models .model-thumb:nth-of-type(2n+0) {
    margin-right: 10px; }
  .old-ie .models .model-thumb:nth-of-type(3n+0) {
    margin-right: 0; }
  @media (min-width: 1280px) {
    .models .model-thumb:nth-of-type(2n+0) {
      margin-right: 10px; }
    .models .model-thumb:nth-of-type(3n+0) {
      margin-right: 10px; }
    .models .model-thumb:nth-of-type(4n+0) {
      margin-right: 0; } }
  .old-ie .models .model-thumb:nth-of-type(2n+0) {
    margin-right: 10px; }
  .old-ie .models .model-thumb:nth-of-type(3n+0) {
    margin-right: 10px; }
  .old-ie .models .model-thumb:nth-of-type(4n+0) {
    margin-right: 0; }

.specific .btn-purple-2 {
  font-size: 0.85em; }

.promotion {
  width: 100%;
  float: left;
  margin: 10px 0; }
  @media (min-width: 768px) {
    .promotion {
      width: 379px;
      height: 171px; } }
  .old-ie .promotion {
    width: 379px;
    height: 171px; }
  .promotion img {
    width: 100%; }

@media (min-width: 1280px) {
  .promotion:nth-of-type(even) {
    margin: 10px 0 10px 5px; } }
.old-ie .promotion:nth-of-type(even) {
  margin: 10px 0 10px 5px; }

@media (min-width: 1280px) {
  .promotion:nth-of-type(odd) {
    margin: 10px 5px 10px 0; } }
.old-ie .promotion:nth-of-type(odd) {
  margin: 10px 5px 10px 0; }

.price-slider {
  width: 95%;
  margin: 15px auto; }
  .price-slider p {
    margin-top: 15px;
    text-align: center;
    font-size: 1.1em;
    word-spacing: 2px; }
    .price-slider p span {
      font-family: toyota_textbold; }
  .price-slider .ui-slider-horizontal {
    background: url(images/price-slider-bg.gif) repeat-x;
    border: 0; }
  .price-slider .ui-slider-horizontal .ui-slider-handle {
    width: 10px;
    height: 20px;
    top: -0.4em; }
  .price-slider .ui-slider-horizontal .ui-slider-range {
    background: transparent;
    height: 10px; }

#company {
  display: block; }

#errors {
  margin-top: 20px;
  display: none; }
  #errors p {
    display: none; }

.message {
  margin-top: 20px; }

#consumer {
  display: none; }

#register_submit, #login_submit, #reservation_submit {
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
  margin-top: 20px; }
  #register_submit:hover, #login_submit:hover, #reservation_submit:hover {
    background: #231c23; }

.dealer-price {
  display: none; }

.to-toggle {
  cursor: pointer; }

.cookies {
  width: 100%;
  padding: 20px 0;
  margin-top: -54px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); }
  .cookies a {
    color: #b50023; }

.cookieclose {
  background: url(images/close.png) right no-repeat;
  padding-right: 20px;
  margin-left: 30px;
  cursor: pointer; }
